#if($system.variables["sponsor.isEnabled"] != nil && $system.variables["sponsor.isEnabled"] == "true"):
<div class="card">
    <div class="content">
        <img src="#($system.variables["sponsor.image.url"])" alt="#($system.variables["sponsor.image.alt"])">
        <h3>#($system.variables["sponsor.title"])</h3>
        <p>#($system.variables["sponsor.description"])</p>
        <a href="#($system.variables["sponsor.button.url"])" target="_blank">#($system.variables["sponsor.button.title"])</a>
        <a href="#($system.variables["sponsor.more.url"])">#($system.variables["sponsor.more.title"])</a>
    </div>
</div>
#endif
